


.navbar {
    background-image: url("https://t3.ftcdn.net/jpg/02/32/66/48/240_F_232664862_xaPcByRdH6bqJfcQxaxO6aPsEJmVC7z0.jpg");
    
}


.collapse .navbar-nav .nav-item {
    display: inline-block;
    justify-items: right;
    font-size: 100%;
}

.jumbotron {
    background-image: url("https://t3.ftcdn.net/jpg/01/55/41/88/240_F_155418833_JDnrsC3A2hEKY6knSHaJz9u0bLWvS3Hc.jpg");
}

.container {
    width: 1000px;
    height: 400px;
    margin: 20px;
    display: inline-block;
    justify-items: center;

     
}

.row {
    max-width: 100%;
    height: auto;
    padding-top: 120px;
    display: block;
    justify-items: center;
    border: 1px solid rgb(143, 67, 67);
    }

.col {
    border-spacing: 10px;
}

.card {
    padding: 10px;
    display: inline-block;
    justify-content: center;
}
